$primary:rgba(29,161,242,1.00);
$secondary:#fafafa;
.brand_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.router-link-exact-active{
    color: $primary;
        background-color: lighten($primary, 40);
}
.brand_item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3rem;
    margin-top: .5rem;
    
    padding: .3rem 1rem;
    transition: all .2s ease-out;
    color: black;
    cursor: pointer;
    
    &:hover{
        color: $primary;
        background-color: lighten($primary, 40);
    }
   font-weight: 500;
   &-icon{
       margin-right: 1rem;
   }
}
.brand{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: $primary;
    margin-top: 1rem;
   &-image{
        height: 5rem;
    }
}
.flex{
    display: flex;
    align-items: center;;
}
.follows{
    background-color: $primary;
    color: white !important;
}
.follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    &-image{
        height: 1.4rem;
        width: 1.4rem;
        background-color: $primary;
        border-radius: 100%;
        margin-right: .3rem;
    }
    &-image-large{
        height: 2.5rem;
        width: 2.5rem;
        background-color: $primary;
        background-size: cover;
        border-radius: 100%;
        margin-right: .3rem;
    }
    &-btn{
        float: right;
        color: $primary;
        border: 1px solid $primary;
        padding: .2rem .7rem;
        border-radius: 20px;
        font-weight: 700;
        transition: all .2s ease-out;
        cursor: pointer;
        &:hover{
            background-color: lighten($primary, 40);
        }
    }

}
.border{
    border:1px solid darken($secondary, 10) ;
}
.handle{
    font-weight: 700;
    font-size: 1.03rem;
    span{
        font-weight: 400;
    }
}
.pressed{
    color: $primary;
   
}
.card-footer-item .icon{
    margin-left: 3px;
    transition: all .2s ease-out;
    cursor: pointer;
}
.news{
    margin-top: 1rem;
    background-color: $secondary;
   border-radius:2rem;
   border:1px solid darken($secondary, 10);
   
   &-top{
    font-weight: 800;
    font-size: 1.2rem;
   }
   &-bottom{
       color: $primary;
       font-weight: 500;
       border-top:1px solid darken($secondary, 10);
       padding: 0 1rem;
   }
    &-top,&-bottom{
       
       
        padding: .6rem 1rem;
    }
    &-section{
        padding: 1rem;
        border-top:1px solid darken($secondary, 10);
        font-weight: 500;
        text-overflow: ellipsis;
        
            
          
    }
    
}
.retweet-label{
    margin-top: .6rem;
    margin-left: .5rem;
    display: inline-block;
}
.new-tweet{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    
}
.pointer{
    cursor: pointer;
    
}
.search-box{
    margin-top: 1rem;
}
.crossbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.tweetform{
   
    width: 50vh;
    background-color: white;
    z-index: 10;
    padding: 2rem;
}

.wrap{
    display: flex;
   
    height: 100vh;
    &-left,&-right{
        height: 100%;
        width: 50vw;
    }
    &-left{
        background-image: url('../images/hero.jpeg');
        background-position: center;
        background-size: cover;
    }

    &-right {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
       padding-left: 4rem;
       
    }
}
.border-p{
    border: 2px solid $primary !important;
}
.head{
    font-size: 2rem;
    color: $primary;
    font-weight: 700;
}
.login_btn{
    margin-top: 3rem;
}
.login_btn span{
   justify-content: space-between;

   display: flex !important;
   
   align-items: center;
   svg{
       margin-right: 1rem;
       font-size: 10px;
   }
}


@import "~bulma";
@import "~buefy/src/scss/buefy";